In [1]:
#load the iris dataset into a Python dataframe:

import pandas as pd

# Location of dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

# Assign column names to the dataset
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'Class']

# Read dataset to pandas dataframe
irisdata = pd.read_csv(url, names=names)

In [2]:
irisdata

     sepal-length  sepal-width  petal-length  petal-width           Class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

# Preprocessing

In [3]:
# Assign data from first four columns to X variable
X = irisdata.iloc[:, 0:4]

# Assign data from first fifth columns to y variable
y = irisdata.select_dtypes(include=[object])

In [4]:
y.head()

         Class
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

# y series are categorical
# neural networks work with numerical data
# convert these categorical values to numerical values
# For this check how many unique values are  in y series

In [5]:
y.Class.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

#  .Class: It is used to access a specific column within the DataFrame y. 
# We are accessing a column named "Class."

# Convert categorical values to numerical values
# Use  LabelEncoder class

In [6]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

y = y.apply(le.fit_transform)

In [7]:
y.Class.unique()

array([0, 1, 2])

In [8]:
# categorical values have been encoded to numerical values i.e. 0, 1, and 2

# Train Test Split

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

# Feature Scaling

In [10]:
# Scale the features so that all of the features can be uniformly evaluated
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

# Training and Predictions

In [11]:
y_train

     Class
94       1
15       0
39       0
9        0
129      2
..     ...
48       0
76       1
3        0
22       0
41       0

[120 rows x 1 columns]

# This is a method in NumPy that is used to flatten multi-dimensional arrays into a one-dimensional array. 
# When applied to a one-dimensional array, it has no effect. 
# However, when applied to a multi-dimensional array, it reshapes it into a one-dimensional array.

In [12]:
y_train.values.ravel()

array([1, 0, 0, 0, 2, 0, 1, 0, 1, 2, 1, 2, 1, 0, 0, 1, 1, 0, 2, 0, 0, 0,
       0, 0, 1, 0, 2, 0, 0, 0, 2, 2, 2, 1, 1, 0, 1, 0, 2, 1, 2, 1, 1, 0,
       2, 2, 2, 2, 1, 2, 1, 0, 2, 0, 0, 0, 0, 1, 2, 2, 0, 2, 1, 1, 2, 1,
       1, 2, 0, 2, 2, 1, 1, 1, 1, 2, 0, 0, 1, 2, 2, 2, 1, 1, 1, 0, 0, 0,
       1, 2, 2, 0, 1, 0, 2, 1, 2, 1, 0, 1, 1, 2, 1, 2, 1, 2, 2, 0, 2, 2,
       0, 0, 0, 0, 2, 0, 1, 0, 0, 0])

In [14]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1000)
mlp.fit(X_train, y_train.values.ravel())

MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1000)

# MLPClassifier
# 1.  hidden_layer_sizes represents the number of neurons in a hidden layer.
# 2 . Moreover, you can specify number of hidden layers using a comma separated.
# 3. For example, the following MLP Classifier has Three hidden layers with 10 nodes (neurons)

In [ ]:
# The second parameter to MLPClassifier specifies the number of iterations, or the epochs, that you want your neural network to execute.
# One epoch is a combination of one cycle of feed-forward and back propagation phase.

In [1]:
predictions = mlp.predict(X_test)

NameError: name 'mlp' is not defined

# Evaluating the Algorithm

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))